config ZMK_RGB_EXT
    bool
    default y
    depends on DT_HAS_ZMK_RGB_EXT_ENABLED

if ZMK_RGB_EXT

# Types must be explicitly declared for each symbol
config SPI
    bool
    default y

config ZMK_RGB_EXT_EXT_POWER
    bool
    default y

config ZMK_RGB_EXT_BRT_MIN
    int
    default 0

config ZMK_RGB_EXT_BRT_MAX
    int
    default 100

config ZMK_RGB_EXT_HUE_STEP
    int
    default 10

config ZMK_RGB_EXT_SAT_STEP
    int
    default 10

config ZMK_RGB_EXT_BRT_STEP
    int
    default 10

config ZMK_RGB_EXT_HUE_START
    int
    default 0

config ZMK_RGB_EXT_SAT_START
    int
    default 100

config ZMK_RGB_EXT_BRT_START
    int
    default 100

config ZMK_RGB_EXT_SPD_START
    int
    default 3

config ZMK_RGB_EXT_EFF_START
    int
    default 0

config ZMK_RGB_EXT_ON_START
    bool
    default y

endif #ZMK_RGB_EXT




config ZMK_BEHAVIOR_RGB_EXT
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_RGB_EXT_ENABLED

if ZMK_BEHAVIOR_RGB_EXT

endif #ZMK_BEHAVIOR_RGB_EXT