config ZMK_RGB_EXT
    bool
    default y
    depends on DT_HAS_ZMK_RGB_EXT_ENABLED

if ZMK_RGB_EXT

# This default value cuts down on tons of excess .conf files, if you're using GPIO, manually disable this
config SPI
    default y

config ZMK_RGB_EXT_EXT_POWER
    default y

config ZMK_RGB_EXT_BRT_MIN
    default 0

config ZMK_RGB_EXT_BRT_MAX
    default 100

config ZMK_RGB_EXT_HUE_STEP
    default 10

config ZMK_RGB_EXT_SAT_STEP
    default 10

config ZMK_RGB_EXT_BRT_STEP
    default 10

config ZMK_RGB_EXT_HUE_START
    default 0

config ZMK_RGB_EXT_SAT_START
    default 100

config ZMK_RGB_EXT_BRT_START
    default ZMK_RGB_EXT_BRT_MAX

config ZMK_RGB_EXT_SPD_START
    default 3

config ZMK_RGB_EXT_EFF_START
    default 0

config ZMK_RGB_EXT_ON_START
    default y

endif #ZMK_RGB_EXT




config ZMK_BEHAVIOR_RGB_EXT
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_RGB_EXT_ENABLED

if ZMK_BEHAVIOR_RGB_EXT

endif #ZMK_BEHAVIOR_RGB_EXT